@import "_box";
@import "_colors";

.text-view {
    height: 100%;
}

.text-view__content {
    @include box();
    height: calc(100% - 8px);
}

.text-view__preformatted-container {
    overflow: auto;
    resize: none;
    white-space: pre;
    white-space: pre-wrap;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    border: 1px solid $grey1;
    outline: none;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

.text-view__preformatted-container:focus,
.text-view__preformatted-container:focus-within {
    border-color: $blue1;
}

.text-view__placeholder {
    font-size: 2rem;
    font-weight: bold;
    color: $grey2;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}
