$white1: rgb(255, 255, 255);

$black1: rgb(0, 0, 0);

$grey1: rgb(180, 180, 180);
$grey2: rgb(107, 107, 107);
$grey3: rgb(58, 58, 58);

$green1: rgb(176, 221, 155);

$red1: rgb(221, 155, 155);

$blue1: rgb(82, 117, 211);
$blue2: rgb(0, 89, 179);