$white1: rgb(255, 255, 255);

$black1: rgb(0, 0, 0);

$grey1: rgb(180, 180, 180);
$grey2: rgb(107, 107, 107);
$grey3: rgb(58, 58, 58);

$green1: rgb(19, 167, 78);
$green2: rgb(0, 100, 40);

$red1: rgb(199, 37, 37);
$red2: rgb(101, 0, 0);

$blue1: rgb(82, 117, 211);
$blue2: rgb(0, 89, 179);