@import "_colors";

#app {
    width: 100%;
    height: 100%;

    display: grid;
    justify-content: center;

    position: relative;
}

.app__inner {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    justify-content: center;
    overflow: hidden;
}

.app__card {
    width: 100vw;
    padding-top: 1vw;
    padding-right: 5vw;
    padding-bottom: 1vw;
    padding-left: 5vw;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

.app__card--dark-background {
    @extend .app__card;
    background-color: $grey3;
    margin-bottom: 1vw;
}

.app__title {
    color: $white1;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}
